extends layout/layout

block content

  include layout/location.pug

  div
    br
    br
  div
    | 반려동물
    | 의지 보조기 제작
    br
    | 선천적 또는 후천적인 요인으로 장애를 갖게된 반려동물에게 의지/보조기는 중요합니다.
    | 보행이 가능하도록 다리가 되어주며, 신체불균형을 바로 잡아주어, 반려동물의 삶의 질을 올려줍니다.
    | 반려동물과의 건강한 삶을 보낼 수 있도록 메디펫츠에서 도와드리겠습니다.
    br
    | 대표이사 권순형