extends layout/layout

block content

  div.sub__title LOCATION

  div
    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d100869.00590101264!2d128.90892626198806!3d37.80980466384449!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3561e09966842789%3A0xefb9f1853fbaa932!2z6rCV7JuQ64-EIOqwleumieyLnCDshqHsoJXrj5k!5e0!3m2!1sko!2skr!4v1590236189395!5m2!1sko!2skr" width="100%" height="300" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")

  div(class='m_t_10')
    ul
      li 주소 : 강원도 강릉시 송정동 225번지 8통 1반
      li 이메일 :
      li 등등 :