extends layout/main

block content
    div.bg_style
        ul.main_bg_wrap
            li.bg_01
                div.text_wrap
                    //div.main_text 메인텍스트
                    //div.sub_text 서브텍스트

            li.bg_02
                div.text_wrap
                    //div.main_text 메인텍스트 2
                    //div.sub_text 서브텍스트 2

        ul.arrow_wrap
            li.prev <
            li.next >
