extends layout/main

block content
    div.bg_style

        div.text_wrap
            div.main_text
                img(src='../img/logo_main.png')
            div.sub_text 우리 반려동물의 불편함을 새로운 삶의 희망으로 바꾸어 주세요.
            div.dot_st
            ul.main_btn_wrap
                li
                    a 게시판
                li
                    a 문의하기


        ul.main_bg_wrap
            li.bg_01
            li.bg_02

        ul.arrow_wrap
            li.prev
                img(src='../img/arrow_l.png')
            li.next
                img(src='../img/arrow_r.png')

