doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="../webpack-demo/src/index")
    script
      | console.log('112')
  body
    block content
