extends layout/layout

block content
  div= sub_img
  h1= title
  p Welcome to #{title}

  div(class='tab_menu')
    a(url='#') 휠체어
    a(url='#') 보조기구
  br
  | 앞다리 없는 강아지, 뒷다리없는 강아지, 휠체어
  img(src="/img/test.png" style='width:350px; ')
  img(src="/img/test_02.png" style='width:350px; ')

  div(class="cd-product-viewer-wrapper" data-frame="16" data-friction="0.33" style="border: 1px solid red")
    div
      figure(class="product-viewer")
        img(src="../img/product/img-loading.jpg" alt="Product Preview")
        div(class="product-sprite" data-image="../img/product/img-sprite.png")
      div(class="cd-product-viewer-handle")
        span(class="fill")
        span(class="handle") Handle
