extends layout/layout

block content
  h1= title
  p Welcome to #{title}

  div
  | 프로덕츠
  br
  | 앞다리 없는 강아지, 뒷다리없는 강아지, 휠체어
  img(src="/img/test.png" style='width:350px; ')
  img(src="/img/test_02.png" style='width:350px; ')
