extends layout/layout

block content
  include layout/location.pug

  form( method='post' action='../result')
    //#{{msg}}
    ul.send_mail_wrap
      li.w_50
        label(for='name') 이름
        input(type='text' placeholder='이름' name='name' id='name' value='1')
      li.w_50
        label(for='phone') 전화번호
        input(type='number' placeholder='전화번호' name='phone' id='phone' value='2')
      li.w_50
        label(for='mail') 이메일
        input(type='text' placeholder='이메일' name='mail' id='mail' value='3')
      li.w_50
        label(for='type') 반려동물 종류
        input(type='text' placeholder='반려동물 종류' name='type' id='type' value='4')
      li.w_100
        textarea(placeholder='반려동물 증상' name='content')
      li.w_100.text-center
        input(type='submit')
