extends layout/layout

block content
  div 메일보내는곳

  form(for='')
    ul
      li
        input(type='text' placeholder='이름')
        label | dfd
      li
        input(type='text' placeholder='전화번호')
        label | dfd
      li
        input(type='text' placeholder='이메일')
        label | dfd
      li
        input(type='text' placeholder='반려동물 종류')
        label | dfd
      li
        textarea(placeholder='반려동물 증상')
      li
        input(type='submit')
