extends layout/layout

block content
  div 메일보내는곳




  form(method='post' action='send')
    #{{msg}}
    ul
      li
        input(type='text' placeholder='이름' name='name' id='name')
        label(for='name') | dfd
      li
        input(type='number' placeholder='전화번호' name='phone' id='phone')
        label(for='phone') | dfd
      li
        input(type='text' placeholder='이메일' name='mail' id='mail')
        label(for='mail') | dfd
      li
        input(type='text' placeholder='반려동물 종류' name='type' id='type')
        label(for='type') | dfd
      li
        textarea(placeholder='반려동물 증상' name='content')
      li
        input(type='submit')
