@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.radius_st, .but_style, .input__but_wrap a, .but_wrap a, .but_wrap input[type=submit], .but_wrap button {
  border-radius: 45px !important;
}

.but_style, .input__but_wrap a, .but_wrap a, .but_wrap input[type=submit], .but_wrap button {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  min-width: 100px;
  text-align: center;
  font-size: 12px;
  color: white;
  border: 1px solid #00a1d8;
  background: #00a1d8;
}

.but_style:hover, .input__but_wrap a:hover, .but_wrap a:hover, .but_wrap input[type=submit]:hover, .but_wrap button:hover {
  color: #00a1d8;
  border: 1px solid #00a1d8 !important;
  background: white !important;
}

.but_wrap {
  display: inline-block;
  width: 100%;
}
.but_wrap a, .but_wrap input[type=submit], .but_wrap button {
  transition: all 0.2s ease-in;
  margin-right: 6px;
}
.but_wrap a:last-of-type {
  margin-right: 0;
}
.but_wrap a.w_100 {
  width: 100%;
}
.but_wrap .white_bg {
  color: #00a1d8;
  border: 1px solid #00a1d8;
  background: white !important;
}
.but_wrap > * {
  line-height: 30px;
}

.under_line_but {
  border: 0;
  width: auto !important;
  color: #aaa;
  text-decoration: underline #aaa !important;
  background: none;
  text-underline-position: under;
  float: initial !important;
}

.under_line_but:hover {
  border: 0 !important;
  background: none !important;
  text-decoration: underline #00a1d8 !important;
}

.download__select_but_wrap > * {
  width: 100px;
  float: left;
  display: inline-block;
  color: #00a1d8;
  padding: 0;
  height: 25px;
  line-height: 25px;
  margin-right: 10px;
  text-align: center;
  font-size: 10px !important;
}
.download__select_but_wrap > *:last-child {
  margin-right: 0;
}
.download__select_but_wrap select {
  border: 1px solid #00a1d8;
  color: #00a1d8 !important;
  line-height: 15px !important;
  padding: 5px 5px 5px 10px !important;
  background: url("../../images/icon/select_icon_b.png") no-repeat white calc(100% - 5px) 50%;
  background-size: 8px;
}
.download__select_but_wrap a {
  border: 1px solid #00a1d8;
}

html, body {
  height: 100%;
}

body.on {
  padding-top: 60px !important;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.logout {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 30px;
  background: aqua;
  text-align: center;
  line-height: 30px;
  border-radius: 6px;
}

.hidden-xs {
  display: block !important;
}

.visible-xs {
  display: none !important;
}

@media (max-width: 768px) {
  .hidden-xs {
    display: none !important;
  }

  .visible-xs {
    display: block !important;
  }
}
.hidden-sm {
  display: block;
}

.visible-sm {
  display: none;
}

table .hidden-sm {
  display: table-cell;
}
table .visible-sm {
  display: none;
}
table colgroup.hidden-sm {
  display: table-column-group;
}
table colgroup.visible-sm {
  display: none;
}
table colgroup .visible-sm {
  display: none;
}
table colgroup .hidden-sm {
  display: table-column;
}

@media (max-width: 992px) {
  .hidden-sm {
    display: none;
  }

  .visible-sm {
    display: block;
  }

  table .hidden-sm {
    display: none;
  }
  table .visible-sm {
    display: table-cell;
  }
  table colgroup.hidden-sm {
    display: none;
  }
  table colgroup.visible-sm {
    display: table-column-group;
  }
  table colgroup .visible-sm {
    display: table-column;
  }
  table colgroup .hidden-sm {
    display: none;
  }
}
.display_none {
  display: none;
}

table col.hidden-xs {
  display: table-column !important;
}
table tr.hidden-xs {
  display: table-row !important;
}
table td.hidden-xs, table th.hidden-xs {
  display: table-cell !important;
}

@media (max-width: 768px) {
  table col.hidden-xs {
    display: none !important;
  }
  table tr.hidden-xs {
    display: none !important;
  }
  table td.hidden-xs, table th.hidden-xs {
    display: none !important;
  }
}
.m_0_auto {
  margin: 0 auto !important;
}

.m_t_10 {
  margin-top: 10px !important;
}

.m_t_20 {
  margin-top: 20px !important;
}

.m_t_40 {
  margin-top: 40px !important;
}

.m_t_60 {
  margin-top: 60px !important;
}

.m_b_0 {
  margin-bottom: 0 !important;
}

.m_b_10 {
  margin-bottom: 10px !important;
}

.m_b_20 {
  margin-bottom: 20px !important;
}

.m_b_40 {
  margin-bottom: 40px !important;
}

.m_t_0 {
  margin-top: 0 !important;
}

.m_t_10 {
  margin-top: 10px !important;
}

.m_t_20 {
  margin-top: 20px !important;
}

.m_r_0 {
  margin-right: 0 !important;
}

.m_r_10 {
  margin-right: 10px !important;
}

.m_r_20 {
  margin-right: 20px !important;
}

.m_l_0 {
  margin-left: 0 !important;
}

.m_l_10 {
  margin-left: 10px !important;
}

.m_l_20 {
  margin-left: 20px !important;
}

.border_black {
  border: 1px solid black !important;
}

.border_t_black {
  border-top: 1px solid black;
}

.border_b_black {
  border-bottom: 1px solid black;
}

.border_dark {
  border: 1px solid #aaa !important;
}

.border_t_dark {
  border-top: 1px solid #aaa;
}

.border_b_dark {
  border-bottom: 1px solid #aaa;
}

.border_light {
  border: 1px solid #ebebeb !important;
}

.border_t_light {
  border-top: 1px solid #ebebeb !important;
}

.border_b_light {
  border-bottom: 1px solid #ebebeb !important;
}

.border_l_light {
  border-left: 1px solid #ebebeb;
}

.border_r_light {
  border-right: 1px solid #ebebeb;
}

.border_lr_light {
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
}

.border_b_dark.border_none {
  border: 0 !important;
}

.border_none {
  border: 0 !important;
}
.border_none * {
  border: 0 !important;
}

.font_c_b {
  color: black !important;
}

.font_b {
  font-weight: bold !important;
}

.padding_none {
  padding: 0 !important;
}

@media only screen and (max-width: 767px) {
  .padding_none {
    padding: 0 !important;
  }
}
.p_5 {
  padding: 5px !important;
}

.p_10 {
  padding: 10px !important;
}

.p_20 {
  padding: 20px !important;
}

.p_l_0 {
  padding-left: 0 !important;
}

.p_l_10 {
  padding-left: 10px !important;
}

.p_b_0 {
  padding-bottom: 0 !important;
}

.p_r_0 {
  padding-right: 0 !important;
}

.p_r_10 {
  padding-right: 10px !important;
}

.p_r_25 {
  padding-right: 25px !important;
}

.padding-none {
  padding: 0 !important;
}

.margin-none {
  margin: 0 !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text_center, .text-center {
  text-align: center;
}
.text_center *, .text-center * {
  text-align: center;
}

.font_b td {
  font-weight: bold;
}

.text_nowrap {
  white-space: nowrap;
  overflow-x: scroll;
}

.word-break {
  word-break: break-all;
}
.word-break a {
  word-break: break-all;
}

.radius_st, .but_style, .input__but_wrap a, .but_wrap a, .but_wrap input[type=submit], .but_wrap button {
  border-radius: 5px !important;
}

.radius_st_md {
  border-radius: 9px !important;
}

.vertical_t {
  vertical-align: top !important;
}

.w_25 {
  width: 25% !important;
  max-width: 25% !important;
}

.w_50 {
  width: 50% !important;
  max-width: 50% !important;
}

.w_100 {
  width: 100% !important;
  max-width: 100% !important;
}

.w_auto {
  width: auto !important;
}

.h_100 {
  height: 100%;
}

.h_xs, .h_sm, .h_md {
  overflow-y: scroll;
}

.h_xs {
  max-height: 300px !important;
}

.h_sm {
  max-height: 500px !important;
}

.h_md {
  max-height: 600px !important;
}

.bg_fff {
  background: white;
}

.color_black {
  color: black !important;
}

.color_b {
  color: #00a1d8 !important;
}

.bg_color_b {
  background: #00a1d8 !important;
}

.color_r {
  color: #e60012 !important;
}

.bg_color_r {
  background: #e60012 !important;
}

.bg_color_r_01 {
  background: #ec6941 !important;
}

.bg_color_r_02 {
  background: #f19149 !important;
}

.border_color_g {
  border: 1px solid #ededed !important;
}

.color_g {
  color: #00c457 !important;
}

.bg_color_g {
  background: #00c457 !important;
}

.color_gray {
  color: #b5b5b5 !important;
}

.bg_color_gray {
  background: #b5b5b5 !important;
}

.bg_color_gray_ed {
  background: #ededed !important;
}

.color_y {
  color: #ffba00;
}

.bg_color_y {
  color: #ffba00;
}

.empty_text_wrap {
  color: #000;
  display: inline-block;
  width: 100%;
  text-align: center !important;
  padding: 20px 0;
  font-size: 14px !important;
}

.error_text_wrap {
  color: #ff0000;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.middle_line {
  text-decoration: line-through !important;
}

.textdeco_gray {
  text-decoration: underline #b5b5b5 !important;
}

.textdeco_b {
  text-decoration: underline #00a0e9 !important;
}

.but_line_height {
  line-height: 45px;
  height: 45px;
}

.label_line_height {
  line-height: 35px;
  height: 35px;
}

.flex-container {
  display: flex;
}

.input__but_wrap > div, .input__but_wrap input, .input__but_wrap select {
  width: calc(100% - 110px);
  margin-right: 10px;
  float: left;
}
.input__but_wrap .but_wrap {
  width: auto !important;
  margin-right: 0;
}
.input__but_wrap a {
  width: 100px;
  float: left;
  font-size: 15px;
  height: 40px;
  line-height: 40px;
}

.explain {
  font-size: 12px;
  color: #aaa;
  margin-bottom: 10px;
}

label.error {
  line-height: 40px;
  padding: 0 10px;
  float: left;
  color: #e60012;
  font-size: 12px;
}

@media (max-width: 768px) {
  label.error {
    line-height: 20px;
    padding: 0 10px;
    float: left;
    color: #e60012;
  }
}
.i_b {
  display: inline-block !important;
}

.w_100 {
  width: 100% !important;
}

.w_auto {
  width: auto !important;
}

.font_10 {
  font-size: 10px !important;
}

.font_12 {
  font-size: 12px !important;
}

.font_14 {
  font-size: 14px !important;
}

.font_16 {
  font-size: 16px !important;
}

/*# sourceMappingURL=common.css.map */
