//컨텐츠 넓이
.container {
  padding-right: 15px; padding-left: 15px;
  margin-right: auto; margin-left: auto;
}
.container:before, .container:after { display: table; content: " "; }
.container:after { clear: both; }
@media (min-width: 768px) { .container { width: 750px; } }
@media (min-width: 992px) { .container { width: 970px; } }
@media (min-width: 1200px) { .container { width: 1170px; } }



.header_wrap {
  display: inline-block; width: 100%; background: red;
  div { display: inline-block; float:left; }
  ul { display: inline-block; float:left;
    li { float:left;
      a {

      }
    }
  }
}


.content_wrap {
  height: 100%; background: green; margin-bottom: 80px;
}

.footer_wrap {
  position: fixed; bottom: 0; left: 0; width: 100%; height: 60px; background: blue;
}