//컬러 관련
$main_c_01: #9082a3;
$main_c_02: #f39700;


$gray_normal: #ebebeb;


$a_color: #1c4898;

$color_main_01: #94a7d8;
$color_r: #e60012;
$color_y: #fab91f;
$color_y_2: #ffecb3;
$color_g: #2bb168;
$color_b: #00a1d8;

$color_read_star: #3ee352;



//폰트
$font_small: 12px;
$font_bic: 16px;


//미디어쿼리
$screen-sm: 768px;
$screen-md: 992px;


$gray: #ebebeb;

$arrow_color: #e1e1e1;
$arrow_hover_color: #848281;
