doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/common.css')
    link(rel='stylesheet', href='/stylesheets/layout.css')
    link(rel='stylesheet', href='/stylesheets/but_reset.css')
    script(src="/js/img.js")
    script
        | console.log('layout');
        | console.log(logo);
  body
    div.header_wrap
        div.logo_wrap
            //img(src=logo).logo
            img(src="/img/1.png")
            script
                | console.log(logo)
                | console.log('logo??')
        ul
            li
                a(href='../') index
            li
                a(href='../users') users
    div.content_wrap
        block content
    block footer
        div.footer_wrap footer


